0-initialize_new_project.sh 0-new_project 10-copy_cut_paste 11-concat_edges 1-build_new_project.sh 1-new_project 3-writeline 4-print_integer 5-print_float 6-print_string 7-concat 8-print_variables 9-print_specifiers global.json README.md text=auto eol=lf
